<div class="my-4">
    <!--form tìm kiếm -->
    <partial name="_SearchForm" />

    <!--Các chuyên mục/chủ đề-->
   @await Component.InvokeAsync("CategoriesWidget")

    <!--top các bài viết nổi bật-->
    <h1>Bài viết nổi bật</h1>

    <!--Đăng kí nhận tin mới-->
    <h1>Đăng kí nhận tin mới</h1>

    <!--tag cloud-->
    <h1>Tag cloud</h1>
</div>