@using TatBlog.Core.Constants;
@model IPagedList<Post>
@{
    ViewData["PageTitle"] = "Trang Chu";
    var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();


}
<div class="p-4">
    @if (!string.IsNullOrWhiteSpace(postQuery.Keyword))
    {
        <h3 class="text-primary mb-3">
            Nhung bai viet chua tu khoa '@postQuery.Keyword'
        </h3>
    }
    @foreach (var postItem in Model)
    {
        <partial name="_PostList" Model="postItem" />
        
    }
    <partial name="_Pager" model="@Model" />

   

</div>
